.places h1{
    font-size: 30px;
    margin-top: 60px;
    margin-left: 20px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px  #FF5A5F solid;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}
.places article h2{
    font-size: 30px;
}

.places {
    text-align: center;
}
